{% extends 'base.html.twig' %}



{% block body %}
<!-- about -->
    <div id="about" class="about layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if post.imageName is not empty  %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(post) | imagine_filter('blog_detail') }} "  alt="#" />
                    {% else %}
                        <img class="img-responsive" src="{{ asset ('images/about_img.png')}}" alt="#" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="heading margin_top_30">
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="full margin_top_20">
                        <p>{{post.content}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
{% endblock %}
